**/bin/
**/obj/
**/node_modules/
**/packages/
**/nuget_cache/

**/.vs/
**/.vscode/
**/.idea/
**/.user
**/*.user
**/*.suo
**/*.dbmdl
**/*.jfm

Dockerfile
Dockerfile.*
docker-compose.yml
docker-compose.override.yml

.env
secrets.dev.yaml
values.dev.yaml

**/.git
.gitignore
LICENSE
README.md